.randomNu{

    border: 2px solid gold; 
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.control{
    border: 2px solid red;
    width: 550px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    
    
}